.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexCol {
  @extend .flexRow;
  flex-direction: column;
}
.maxWidthContainer {
  max-width: var(--w-container);
  width: 90vw;
  margin: 0 auto;
}
